
.form-group {
  position: relative;
  left: 500px;
}

.header {
  position: relative;
  left: 300px;
}

.actions {
  position: relative;
  left: 500px;
}

.panel-default {
  display: flex;
}
.panel-body {
  border-style: solid;
}

.panel-body h2 {
  width: 500px;
}
.foxtrot {
  position: relative;
  width: 800px;
  left: 50px;
}

span {
  width: 100px;
}

textarea {
  width: 400px;
  height: 100px;
}

.form-control {
  width: 500px;

}
.custom-select {
  width: 500px;

}
